@charset "utf-8";
/* CSS Document */
.tab_ui .tab_title{overflow:hidden; position:relative; bottom:-2px; z-index:1}
.tab_ui .tab_title ul li{float:left; border-radius:8px 8px 0 0; border:1px solid #ddd; background:#00c0ff; cursor:pointer;}
.tab_ui .tab_title ul li span{width:80%; height:inherit; line-height:inherit; text-indent:5px; display:block; float:left; font-family:"微软雅黑"; font-size:12px; color:#fff; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.tab_ui .tab_title ul li a{width:20%; height:inherit; line-height:inherit; color:#fff; float:right; display:block; font-size:12px; text-align:center;}
.tab_ui .tab_title ul li.active{background:#fcfcfc; border-bottom:0}
.tab_ui .tab_title ul li.active span{color:#00c0ff; font-weight:bold;}
.tab_ui .tab_title ul li.active a{color:#00c0ff;}


.tab_ui .tab_box{border:1px solid #ccc; border-radius:0 0 10px 10px; background:#fcfcfc; display:none;}
.tab_ui .tab_box.active{display:block;}